<h1>alpha-blog about page</h1>

<table border="1">
	<thead>
		<td>xaxa</td>
		<td>xixi</td>
		<td>xoxo</td>
	</thead>
	<tr>
		<td>zzzzzz</td>
		<td>wwwwww</td>
		<td>aaaaaa</td>
	</tr>
</table>
